.post-details
    width: 100%
    margin: 0 10px
    inline-height: 1.8em
    a
        text-decoration: none
        color: #222
        box-shadow: 0 1px 0 #06c
        &:hover
            color: #06c
    .post-title
        h1
            color: #000
            font-weight: normal
            margin-block: 0 1em
    .post-content
        h1
        h2
        h3
        h4
        h5
        h6
            color: #000
            font-weight: normal
            position: relative
            margin-block: 0
            margin-inline: 0
            margin-top: 20px
            margin-bottom: 10px
            &:after
                position: absolute
                font-size: 1.1em
                font-weight: bold
                left: -50px
                height: 100%
                z-index: -1
        h1
            font-size: 1.4em
            line-height: 20px
            &:after
                content: "H1"
                color: rgba(153, 153, 153, 0.5)
        h2
            font-size: 1.3em
            line-height: 20px
            position: relative
            &:after
                content: "H2"
                color: rgba(153, 153, 153, 0.4)
        h3
            font-size: 1.2em
            line-height: 20px
            position: relative
            &:after
                content: "H3"
                color: rgba(153, 153, 153, 0.35)
        h4
            font-size: 1.1em
            line-height: 10px
            position: relative
            &:after
                content: "H4"
                color: rgba(153, 153, 153, 0.3)
        h5
            font-size: 1em
            line-height: 10px
            position: relative
            &:after
                content: "H5"
                color: rgba(153, 153, 153, 0.25)
        h6
            font-size: 0.9em
            line-height: 10px
            position: relative
            &:after
                content: "H6"
                color: rgba(153, 153, 153, 0.2)
        p
            margin-block: 0
            margin: 0 0 10px
        img
            max-width: 100%
